.contact-form {
  background-color: $gunmetal;
  width: 100%;
  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  h4 {
    font-weight: 100;
  }
  // min-height: 90vh;
}
